<a href="https://colab.research.google.com/github/elizleon/Programacion-de-Computadores/blob/main/S8_Cadenas_Notas_Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Universidad Nacional de Colombia
#Programación de Computadores

##Notas y ejercicios de clase
##Cadenas
##Profesora Elizabeth León
-------

Las cadenas de caracteres representan una secuencia de caracteres (cero o más caracteres). El tipo de dato usado para las cadenas es el **string**
Ejemplo de cadena:

In [ ]:
str1 = 'Hola a todos!'
print(str1)

Como lo mencionamos antes, las variables acceden a una posición de memoria, usando **id()** se obtiene el identificador único (la posición en memoria) de la variable, para el ejemplo la variable **str1** accede:

In [ ]:
id(str1)

In [ ]:
str1 = 'Hola compañeros'
id(str1)

#Operadores

##Operador concatenar  **+**

In [ ]:
Operador que une dos cadenas.

In [ ]:
nombre = "Minch Yoda"
trabajo = "Stars War"
print(nombre + " el maestro")
print(nombre + trabajo)
print(trabajo + " " + nombre)

Minch Yoda el maestro
Minch YodaStars War
Stars War Minch Yoda

##Operadores convencionales **(<, <=, >, >=, ==, !=)**
Estos operdores permiten comparar cadenas usando el orden lexicográfico, es decir alfabético. 

En el orden lexicográfico, se comparan de izquierda a derecha uno a uno los caracteres, mientras sean iguales. En el caso que no sean iguales, si el carácter de la primera cadena es menor que el de la segunda a la primer cadena se le considera menor, pero si es mayor, a la primera cadena se le considera
mayor. Si todos los caracteres son iguales, las cadenas son iguales.

In [ ]:
print("Rojas" == "rosas")
print("Rojas" < "Rosas")
print("Rojas" > "Rosas")

False
True
False

##Operador subíndice  **[ ]**

Un string se puede ver como una secuencia de caracteres a los cuales se puede acceder de acuerdo de a la posición del caracter en la cadena. El operador **[ ]** permite acceder a los elementos (caracteres) de un string, iniciando en la posición 0.

In [ ]:
str1 = "Hola compañeros"
print(str1[0])
print(str1[3])
print(str1[4])
print(str1[10])

In [ ]:
print(str1[-1])
print(len(str1))
print(str1[-15])

##Slice
Obtiene una parte (subcadena) de una cadena.

Notación:  **[ inicio : fin : incremento ]**  (es similar a la función range).

programa:

In [ ]:
nombre = "Minch Yoda"
print(nombre[:5])
print(nombre[0:7])
print(nombre[6:10])
print(nombre[::-1])

Minch
Minch Y
Yoda
adoY hcniM
Minch Yoda

#Métodos
##len()
Para obtener la longitud de una cadena se puede utilizar la función **len()**, para la variable len(str1):

In [ ]:
len(str1)

In [ ]:
str2 = 'Hola'
len(str2)

In [ ]:
str2 = ''
len(str2)

##count()
El método **count()** obtiene el número de veces que una subcadena se encuentra en una cadena (o en una parte de ella). 

Notación: **count(subcadena, inicio, fin)**.

In [ ]:
str1 = "The avengers"
print(str1.count("e"))
print(str1.count("e", 0, 3))
print(str1.count("e", 4, len(str1)))
cad = "abcabcabcabcabc"
print(cad.count("abc"))

3
1
2
5

##find() y rfind()
El método **find()** obtiene la primera ocurrencia de una subcadena en una cadena (o en una parte de ella); y **rfind()** la última ocurrencia de una subcadena en una cadena (o en una parte de ella).

Notación:    

> **find(subcadena, inicio, fin)**

> **rfind(subcadena, inicio, fin)**

In [ ]:
str2 = "It is not despair, for despair is only for those who see the end beyond all doubt. We do not."
print("first:", str2.find("despair"))
print("last:", str2.rfind("despair"))

first: 10
last: 94

## lower(), upper(), capitalize(), title(), swapcase()
Métodos que operan de acuerdo a mayúsculas y minúsculas

In [ ]:
s = "cien años de soledad en Macondo"
print(s.lower()) # Muestra la cadena en minúsculas
print(s.upper()) # Muestra la cadena en mayúsculas
print(s.capitalize()) # Primer letra a mayúscula
print(s.title()) # Primer letra cada palabra a mayúscula
print(s.swapcase()) # Mayúsculas <-> minúsculas

cien años de soledad en macondo
CIEN AÑOS DE SOLEDAD EN MACONDO
Cien años de soledad en macondo
Cien Años De Soledad En Macondo
CIEN AÑOS DE SOLEDAD EN mACONDO

## strip(), lstrip(), rstrip()
El método **strip()/lstrip()/rstrip()** remueve los caracteres deseados a los dos lados/izquierda/derecha de una cadena.

Notación: **strip/lstrip/rstrip(caracteres)**. 
Si no se dan caracteres como argumento, elimina espacios en blanco (espacios y tabulaciones).

In [ ]:
s = "---++---cien años de soledad en Macondo---++---"
print(s.strip("-+"))
print(s.lstrip("-+"))
print(s.rstrip("-+"))

cien años de soledad en Macondo
cien años de soledad en Macondo---++---
---++---cien años de soledad en Macondo

In [ ]:
s= "     cien años de soledad en Macondo      "
print(s.strip())

cien años de soledad en Macondo

##split()
El método **split()** divide una cadena de acuerdo a una subcadena que sirve como delimitador, dejando las partes separadas en una lista. 
Notación: **split(delimitador)**

In [ ]:
sdate = "01-06-2021"
sp = sdate.split("-")
print(sp)
print("día:", sp[0], " mes:", sp[1], " año:", sp[2])

['01', '06', '2021']
día: 01  mes: 06  año: 2021

## Justificando cadenas: ljust(), rjust(), center(), zfill()
ljust() : Justificar una cadena a la izquierda

rjust() : Justificar una cadena a la derecha

center() : Centrar una cadena

zfill() : Llenar una cadena con ceros

In [ ]:
str1 = "Bogotá"
print(str1.ljust(15, "#"))
print(str1.rjust(15, "#"))
print(str1.center(15, "#"))
account = "123456789"
print(account.zfill(15))

Bogotá#########
#########Bogotá
#####Bogotá####
000000123456789

##replace()
El método replace reemplazar una subcadena en una cadena por otra.

Notación: **replace(anterior, nueva)**

In [ ]:
str1 = "cien años de soledad"
print(str1)
rep = str1.replace("cien", "setenta")
print(rep)
rep = rep.replace("años", "días")
print(rep)
rep = rep.replace("soledad", "clases de programación!")
print(rep)

cien años de soledad
setenta años de soledad
setenta días de soledad
setenta días de clases de programación!

##min(), max()
Mínima ó máxima letra alfanumérica ```min```, ```max```.

In [ ]:
min('abcdario')

In [ ]:
max('abcdario')

##Consultando una cadena
Es posible determinar si una subcadena se encuentra en una cadena de caracteres. El siguiente programa busca una cadena en otra cadena, usando **in**:

In [ ]:
text = "cien años de soledad"
if "años" in text:
  print("yes")
else:
  print("no")

## Métodos booleanos sobre cadenas
**endswith() :** Determinar si una cadena termina con.

**startswith() :** Determinar si una cadena empieza con.

**isalpha() :** Determinar si una cadena contiene letras únicamente.

**isalnum() :** Determinar si una cadena contiene números y letras
únicamente (alfanum ́erico).

**isdigit() :** Determinar si una cadena contiene sólo dígitos.

**isspace() :** Determinar si una cadena contiene sólo espacios.

**istitle() :** Determinar si una cadena es un título.

**islower() :** Determinar si una cadena contiene todos sus caracteres en minúsculas.

**isupper() :** Determinar si una cadena contiene todos sus caracteres en mayúscula.

In [ ]:
text = "Cien años de soledad."
result = text.endswith('soledad.')
print(result)

In [ ]:
text = "Cien años de soledad."
result = text.startswith('años',5,len(text))
print(result)

In [ ]:
str1 = 'lasquinceletras'
str1.isalpha()

In [ ]:
str2 = 'las quince letras'
str2.isalpha()

In [ ]:
str3 = 'edad:15'
str3.isalpha()

In [ ]:
str4 = 'edad15'
str4.isalnum()

In [ ]:
str5 = 'edad15#'
str5.isalnum()

In [ ]:
str_num = '123456789'
str_num.isdigit()

In [ ]:
strs = " "
strs.isspace()

In [ ]:
strs = 'Cien Años De Soledad'
strs.istitle()

In [ ]:
str1 = 'cien'
str1.islower()

In [ ]:
str1 = 'cien#945663'
str1.islower()


## Ejercicio 1: Validación 

A Juanito le gusta escribir al revés y ha escrito unas cadenas muy largas. Juanito necesita su ayuda para saber si lo que ha escrito al revés es lo mismo que piensa.  
Entrada: Dos Strings uno con la cadena al derecho (lo que piensa) y otro con la posible cadena invertida. 

Salida: La palabra SI si la palabra corresponde a su versión invertida. La palabra NO en caso contrario. Ejemplo:
<table>
    <tr>
        <td>Input</td><td>Output</td>
    </tr>
    <tr>
        <td>
No tengo ningún consejo para darle a aquel que desespera.<br>
.arepsesed euq leuqa a elrad arap ojesnoc núgnin ognet oN
        </td><td>SI</td>
    </tr>
 <table>

## Ejercicio 2: mayUSCULAS PEGADAS
A veces al escribir cosas de afán suele pasar que se queda el teclado con la tecla de caps lock pegada. Su misión es detectar si esto sucedió y escribir la cadena correctamente.

Entrada: Una cadena de texto
Salida: La cadena escrita correctamente

Ejemplo 1:

<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
            <td>No tengo ningún consejo para darle a AQUEL QUE DESESPERA.</td>
        <td>No tengo ningún consejo para darle a aquel que desespera.</td>
     </tr>
<table>
    
Ejemplo 2:

<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
        <td>cAPS LOCK</td>
        <td>Caps LOCK</td>
     </tr>
<table>

	
Ejemplo 3:

<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
        <td>cien años de soledad</td>
        <td>cien años de soledad</td>
     </tr>
<table>

Ejemplo 3:
<table>
    <tr><td>Input</td><td>Output</td>
    <tr>
        <td>Cien años de sOLEDAD</td>
        <td>Cien años de Soledad</td>
     </tr>
<table>


##Referencias
J. Gómez, A. Rodríguez, C. Cubides & C. Sierra Programación de Computadores – UN